/*clip-path: polygon(0% 53%, 7% 54%, 12% 54%, 25% 56%, 30% 55%, 41% 55%, 49% 52%, 57% 47%, 65% 44%, 74% 41%, 80% 40%, 90% 38%, 99% 36%, 100% 0%, 0% 0%);*/
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

#background {
    height: 100vh;
}

video {
 
    object-fit: cover;
    object-position: center;
}

#menu {    
   
    background: #0025ff;
    z-index: 10000;
    transition: all 1s ease-out;
}

.list {
    list-style: none;
    width: 95%;
}

.list-item {
    height: 100px;
    margin: 0 3.5%;
}

.list-item img {  
    height: 60%;
    background-size: cover;
}

.list-item span , .list-item a ,.list-item img  {
    background-size: cover;
    font-weight: bolder;
    color: white;
}
p:hover {
    color: black;
}

.header {
    background-color: #000;
    padding: 3em 0 0 0;
    font-weight: bolder;
}

.header h2 {
    color: #fff;
    font-size: 70px;
    line-height: 63px;
    animation: typing 10s;
    white-space: nowrap;
    font-weight: bolder;
}

.text {
    font-size: 42px;
    line-height: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.text span {
    color: #fff;
    mix-blend-mode: difference;
}

.text::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    animation: cover 20s forwards;
    z-index: 1;
}

.header button {
    font-size: 52px;
    line-height: 52px;
    padding: 0.55em;
    margin: 1em 0 1.3em 0;
    color: white;
    font-weight: bold;
    background-color: #0025ff;
}

.header button:hover {
    color: rgb(255, 0, 0);
    background-color: yellowgreen;
}
.imgList img:hover {
    transform: scale(1.3) rotate(10deg);
    transition: 0.4s;
    opacity: 0.6;
}

.footerContainer {
    height: 200px;
    background: #0025ff;
}

.wave {
    background-color: #000;
    top: 100px;
    z-index: 100000000000;
    display: none;
    overflow-y: scroll;
   
}
.wave.show {
    display: flex;
    animation: wave 1s ease-in-out ;
}


.wave.hide {
   animation:  waveReverse 1s  ease  ;
   
}
.waveContainer{
    height: 50%;
}

.pepsiVna h2 {
    color: white;
    animation: fadeInUp 2s ease-in-out;
   
}
.text-primary-1 {
    color: #007bff;
    animation: colorPulse 4s linear 2 forwards;
    display: inline-block;
}
.pepsi125Header {
    padding: 2rem 1em 2rem 1em;
}

.text-primary-2 {
    font-size: 60px;
    line-height: 60px;
    color: blue;
    font-weight: bolder;
}

.pepsi125Header h3 {
    font-size: 30px;
    font-weight: bolder;
}

.text-primary-3 {
    color: blue;
}

.text-primary-4 {
    color: white;
}

.text-primary-5 {
    color: blue;
}

.pepsi125Header h2,
.pepsi125Header h3 span {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.pepsi125Header h2 {
    animation-delay: 0.5s;
}

.pepsi125Header h3 span.text-primary-3 {
    animation-delay: 1s;
}

.pepsi125Header h3 span.text-primary-4 {
    animation-delay: 1.5s;
}

.pepsi125Header h3 span.text-primary-5 {
    animation-delay: 2s;
}
.display-5 {
    opacity: 1;
    animation: pulseAnimation 6s linear 2 forwards;
}
@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}


@keyframes wave {
    0% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 6.67%, 2.00% 6.46%, 4.00% 5.84%, 6.00% 4.86%, 8.00% 3.57%, 10.00% 2.06%, 12.00% 0.42%, 14.00% -1.25%, 16.00% -2.84%, 18.00% -4.25%, 20.00% -5.39%, 22.00% -6.20%, 24.00% -6.61%, 26.00% -6.61%, 28.00% -6.20%, 30.00% -5.39%, 32.00% -4.25%, 34.00% -2.84%, 36.00% -1.25%, 38.00% 0.42%, 40.00% 2.06%, 42.00% 3.57%, 44.00% 4.86%, 46.00% 5.84%, 48.00% 6.46%, 50.00% 6.67%, 52.00% 6.46%, 54.00% 5.84%, 56.00% 4.86%, 58.00% 3.57%, 60.00% 2.06%, 62.00% 0.42%, 64.00% -1.25%, 66.00% -2.84%, 68.00% -4.25%, 70.00% -5.39%, 72.00% -6.20%, 74.00% -6.61%, 76.00% -6.61%, 78.00% -6.20%, 80.00% -5.39%, 82.00% -4.25%, 84.00% -2.84%, 86.00% -1.25%, 88.00% 0.42%, 90.00% 2.06%, 92.00% 3.57%, 94.00% 4.86%, 96.00% 5.84%, 98.00% 6.46%, 100.00% 6.67%);
    }
   
   
  
   
    50% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 77.56%, 2.00% 76.91%, 4.00% 76.67%, 6.00% 76.84%, 8.00% 77.43%, 10.00% 78.38%, 12.00% 79.64%, 14.00% 81.14%, 16.00% 82.78%, 18.00% 84.45%, 20.00% 86.04%, 22.00% 87.47%, 24.00% 88.64%, 26.00% 89.48%, 28.00% 89.93%, 30.00% 89.96%, 32.00% 89.58%, 34.00% 88.81%, 36.00% 87.69%, 38.00% 86.30%, 40.00% 84.72%, 42.00% 83.05%, 44.00% 81.41%, 46.00% 79.88%, 48.00% 78.57%, 50.00% 77.56%, 52.00% 76.91%, 54.00% 76.67%, 56.00% 76.84%, 58.00% 77.43%, 60.00% 78.38%, 62.00% 79.64%, 64.00% 81.14%, 66.00% 82.78%, 68.00% 84.45%, 70.00% 86.04%, 72.00% 87.47%, 74.00% 88.64%, 76.00% 89.48%, 78.00% 89.93%, 80.00% 89.96%, 82.00% 89.58%, 84.00% 88.81%, 86.00% 87.69%, 88.00% 86.30%, 90.00% 84.72%, 92.00% 83.05%, 94.00% 81.41%, 96.00% 79.88%, 98.00% 78.57%, 100.00% 77.56%);
    }

    100% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 113.33%, 2.00% 113.12%, 4.00% 112.51%, 6.00% 111.53%, 8.00% 110.24%, 10.00% 108.73%, 12.00% 107.09%, 14.00% 105.42%, 16.00% 103.83%, 18.00% 102.42%, 20.00% 101.27%, 22.00% 100.47%, 24.00% 100.05%, 26.00% 100.05%, 28.00% 100.47%, 30.00% 101.27%, 32.00% 102.42%, 34.00% 103.83%, 36.00% 105.42%, 38.00% 107.09%, 40.00% 108.73%, 42.00% 110.24%, 44.00% 111.53%, 46.00% 112.51%, 48.00% 113.12%, 50.00% 113.33%, 52.00% 113.12%, 54.00% 112.51%, 56.00% 111.53%, 58.00% 110.24%, 60.00% 108.73%, 62.00% 107.09%, 64.00% 105.42%, 66.00% 103.83%, 68.00% 102.42%, 70.00% 101.27%, 72.00% 100.47%, 74.00% 100.05%, 76.00% 100.05%, 78.00% 100.47%, 80.00% 101.27%, 82.00% 102.42%, 84.00% 103.83%, 86.00% 105.42%, 88.00% 107.09%, 90.00% 108.73%, 92.00% 110.24%, 94.00% 111.53%, 96.00% 112.51%, 98.00% 113.12%, 100.00% 113.33%);
    }
} 



@keyframes waveReverse {
    100% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 6.67%, 2.00% 6.46%, 4.00% 5.84%, 6.00% 4.86%, 8.00% 3.57%, 10.00% 2.06%, 12.00% 0.42%, 14.00% -1.25%, 16.00% -2.84%, 18.00% -4.25%, 20.00% -5.39%, 22.00% -6.20%, 24.00% -6.61%, 26.00% -6.61%, 28.00% -6.20%, 30.00% -5.39%, 32.00% -4.25%, 34.00% -2.84%, 36.00% -1.25%, 38.00% 0.42%, 40.00% 2.06%, 42.00% 3.57%, 44.00% 4.86%, 46.00% 5.84%, 48.00% 6.46%, 50.00% 6.67%, 52.00% 6.46%, 54.00% 5.84%, 56.00% 4.86%, 58.00% 3.57%, 60.00% 2.06%, 62.00% 0.42%, 64.00% -1.25%, 66.00% -2.84%, 68.00% -4.25%, 70.00% -5.39%, 72.00% -6.20%, 74.00% -6.61%, 76.00% -6.61%, 78.00% -6.20%, 80.00% -5.39%, 82.00% -4.25%, 84.00% -2.84%, 86.00% -1.25%, 88.00% 0.42%, 90.00% 2.06%, 92.00% 3.57%, 94.00% 4.86%, 96.00% 5.84%, 98.00% 6.46%, 100.00% 6.67%);
    }
50% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 20.00%, 2.00% 18.34%, 4.00% 16.79%, 6.00% 15.44%, 8.00% 14.37%, 10.00% 13.66%, 12.00% 13.35%, 14.00% 13.45%, 16.00% 13.97%, 18.00% 14.86%, 20.00% 16.08%, 22.00% 17.55%, 24.00% 19.16%, 26.00% 20.84%, 28.00% 22.45%, 30.00% 23.92%, 32.00% 25.14%, 34.00% 26.03%, 36.00% 26.55%, 38.00% 26.65%, 40.00% 26.34%, 42.00% 25.63%, 44.00% 24.56%, 46.00% 23.21%, 48.00% 21.66%, 50.00% 20.00%, 52.00% 18.34%, 54.00% 16.79%, 56.00% 15.44%, 58.00% 14.37%, 60.00% 13.66%, 62.00% 13.35%, 64.00% 13.45%, 66.00% 13.97%, 68.00% 14.86%, 70.00% 16.08%, 72.00% 17.55%, 74.00% 19.16%, 76.00% 20.84%, 78.00% 22.45%, 80.00% 23.92%, 82.00% 25.14%, 84.00% 26.03%, 86.00% 26.55%, 88.00% 26.65%, 90.00% 26.34%, 92.00% 25.63%, 94.00% 24.56%, 96.00% 23.21%, 98.00% 21.66%, 100.00% 20.00%);
    }
 
   
    0% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 113.33%, 2.00% 113.12%, 4.00% 112.51%, 6.00% 111.53%, 8.00% 110.24%, 10.00% 108.73%, 12.00% 107.09%, 14.00% 105.42%, 16.00% 103.83%, 18.00% 102.42%, 20.00% 101.27%, 22.00% 100.47%, 24.00% 100.05%, 26.00% 100.05%, 28.00% 100.47%, 30.00% 101.27%, 32.00% 102.42%, 34.00% 103.83%, 36.00% 105.42%, 38.00% 107.09%, 40.00% 108.73%, 42.00% 110.24%, 44.00% 111.53%, 46.00% 112.51%, 48.00% 113.12%, 50.00% 113.33%, 52.00% 113.12%, 54.00% 112.51%, 56.00% 111.53%, 58.00% 110.24%, 60.00% 108.73%, 62.00% 107.09%, 64.00% 105.42%, 66.00% 103.83%, 68.00% 102.42%, 70.00% 101.27%, 72.00% 100.47%, 74.00% 100.05%, 76.00% 100.05%, 78.00% 100.47%, 80.00% 101.27%, 82.00% 102.42%, 84.00% 103.83%, 86.00% 105.42%, 88.00% 107.09%, 90.00% 108.73%, 92.00% 110.24%, 94.00% 111.53%, 96.00% 112.51%, 98.00% 113.12%, 100.00% 113.33%);
    }
}

@keyframes colorPulse {

    0%,
    100% {
        color: #007bff;
    }

    50% {
        color: red;
    }

    75% {
        color: yellow;
    }
}



@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media only screen and(max-width:700px) {
    

    #background {
        margin-top: 100px;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }

    .logo img {
        width: 30%;
    }

    .footerContainer {
        height: auto;
        justify-content: center;
        background-color: #000;
    }

    .footerContainer p {
        color: #fff;
    }

    .imgItems {
        margin: 0;
    }

    .sliderContainer h1 {
        font-size: 25px;
        padding: 30px;
    }

    .iconContainer {
        background-color: #0025ff;
    }

    .iconContainer i {
        font-size: 50px;
    }

    .list-item span {
        font-size: 16px;

    }
    .data .dataList {
        width: calc(100%/3);
    }
    .waveContainer{
        height: auto!important;
    }
    .dataWave{
        height: auto!important;
        width: calc(100%/3)!important;
    }

}