/*clip-path: polygon(0% 53%, 7% 54%, 12% 54%, 25% 56%, 30% 55%, 41% 55%, 49% 52%, 57% 47%, 65% 44%, 74% 41%, 80% 40%, 90% 38%, 99% 36%, 100% 0%, 0% 0%);*/
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

#background {
    height: 100vh;
}

video {
 
    object-fit: cover;
    object-position: center;
}

#menu {    
   
    background: #0025ff;
    z-index: 10000;
    transition: all 1s ease-out;
}

.list {
    list-style: none;
    width: 95%;
}

.list-item {
    height: 100px;
    margin: 0 3.5%;
}

.list-item img {  
    height: 60%;
    background-size: cover;
}

.list-item span , .list-item a ,.list-item img  {
    background-size: cover;
    font-weight: bolder;
    color: white;
}
p:hover {
    color: black;
}

.header {
    background-color: #000;
    padding: 3em 0 0 0;
    font-weight: bolder;
}

.header h2 {
    color: #fff;
    font-size: 70px;
    line-height: 63px;
    animation: typing 10s;
    white-space: nowrap;
    font-weight: bolder;
}

.text {
    font-size: 42px;
    line-height: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.text span {
    color: #fff;
    mix-blend-mode: difference;
}

.text::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    animation: cover 20s forwards;
    z-index: 1;
}

.header button {
    font-size: 52px;
    line-height: 52px;
    padding: 0.55em;
    margin: 1em 0 1.3em 0;
    color: white;
    font-weight: bold;
    background-color: #0025ff;
}

.header button:hover {
    color: rgb(255, 0, 0);
    background-color: yellowgreen;
}
.imgList img:hover {
    transform: scale(1.3) rotate(10deg);
    transition: 0.4s;
    opacity: 0.6;
}

.footerContainer {
    height: 200px;
    background: #0025ff;
}

.wave {
    background-color: #000;
    top: 100px;
    animation: wave 1s reverse ease-in-out;
    z-index: 100000000000;
    display: none;
    overflow-y: scroll;
   
}
.wave.show {
    display: flex;
    animation: wave 1s ease-in-out;
}


.wave.hide {
    animation: waveReverse 1s ease-in-out;
}
.waveContainer{
    height: 50%;
}

.pepsiVna h2 {
    color: white;
    animation: fadeInUp 2s ease-in-out;
   
}
.text-primary-1 {
    color: #007bff;
    animation: colorPulse 4s linear 2 forwards;
    display: inline-block;
}
.pepsi125Header {
    padding: 2rem 1em 2rem 1em;
}

.text-primary-2 {
    font-size: 60px;
    line-height: 60px;
    color: blue;
    font-weight: bolder;
}

.pepsi125Header h3 {
    font-size: 30px;
    font-weight: bolder;
}

.text-primary-3 {
    color: blue;
}

.text-primary-4 {
    color: white;
}

.text-primary-5 {
    color: blue;
}

.pepsi125Header h2,
.pepsi125Header h3 span {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.pepsi125Header h2 {
    animation-delay: 0.5s;
}

.pepsi125Header h3 span.text-primary-3 {
    animation-delay: 1s;
}

.pepsi125Header h3 span.text-primary-4 {
    animation-delay: 1.5s;
}

.pepsi125Header h3 span.text-primary-5 {
    animation-delay: 2s;
}
.display-5 {
    opacity: 1;
    animation: pulseAnimation 6s linear 2 forwards;
}
@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

@keyframes wave {
    0% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 6.67%, 2.00% 6.46%, 4.00% 5.84%, 6.00% 4.86%, 8.00% 3.57%, 10.00% 2.06%, 12.00% 0.42%, 14.00% -1.25%, 16.00% -2.84%, 18.00% -4.25%, 20.00% -5.39%, 22.00% -6.20%, 24.00% -6.61%, 26.00% -6.61%, 28.00% -6.20%, 30.00% -5.39%, 32.00% -4.25%, 34.00% -2.84%, 36.00% -1.25%, 38.00% 0.42%, 40.00% 2.06%, 42.00% 3.57%, 44.00% 4.86%, 46.00% 5.84%, 48.00% 6.46%, 50.00% 6.67%, 52.00% 6.46%, 54.00% 5.84%, 56.00% 4.86%, 58.00% 3.57%, 60.00% 2.06%, 62.00% 0.42%, 64.00% -1.25%, 66.00% -2.84%, 68.00% -4.25%, 70.00% -5.39%, 72.00% -6.20%, 74.00% -6.61%, 76.00% -6.61%, 78.00% -6.20%, 80.00% -5.39%, 82.00% -4.25%, 84.00% -2.84%, 86.00% -1.25%, 88.00% 0.42%, 90.00% 2.06%, 92.00% 3.57%, 94.00% 4.86%, 96.00% 5.84%, 98.00% 6.46%, 100.00% 6.67%);
    }
    10% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 17.62%, 2.00% 16.21%, 4.00% 14.63%, 6.00% 12.96%, 8.00% 11.32%, 10.00% 9.80%, 12.00% 8.51%, 14.00% 7.51%, 16.00% 6.89%, 18.00% 6.67%, 20.00% 6.86%, 22.00% 7.47%, 24.00% 8.44%, 26.00% 9.72%, 28.00% 11.23%, 30.00% 12.87%, 32.00% 14.54%, 34.00% 16.13%, 36.00% 17.55%, 38.00% 18.70%, 40.00% 19.51%, 42.00% 19.94%, 44.00% 19.95%, 46.00% 19.55%, 48.00% 18.75%, 50.00% 17.62%, 52.00% 16.21%, 54.00% 14.63%, 56.00% 12.96%, 58.00% 11.32%, 60.00% 9.80%, 62.00% 8.51%, 64.00% 7.51%, 66.00% 6.89%, 68.00% 6.67%, 70.00% 6.86%, 72.00% 7.47%, 74.00% 8.44%, 76.00% 9.72%, 78.00% 11.23%, 80.00% 12.87%, 82.00% 14.54%, 84.00% 16.13%, 86.00% 17.55%, 88.00% 18.70%, 90.00% 19.51%, 92.00% 19.94%, 94.00% 19.95%, 96.00% 19.55%, 98.00% 18.75%, 100.00% 17.62%);
    }

    20% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 20.00%, 2.00% 18.34%, 4.00% 16.79%, 6.00% 15.44%, 8.00% 14.37%, 10.00% 13.66%, 12.00% 13.35%, 14.00% 13.45%, 16.00% 13.97%, 18.00% 14.86%, 20.00% 16.08%, 22.00% 17.55%, 24.00% 19.16%, 26.00% 20.84%, 28.00% 22.45%, 30.00% 23.92%, 32.00% 25.14%, 34.00% 26.03%, 36.00% 26.55%, 38.00% 26.65%, 40.00% 26.34%, 42.00% 25.63%, 44.00% 24.56%, 46.00% 23.21%, 48.00% 21.66%, 50.00% 20.00%, 52.00% 18.34%, 54.00% 16.79%, 56.00% 15.44%, 58.00% 14.37%, 60.00% 13.66%, 62.00% 13.35%, 64.00% 13.45%, 66.00% 13.97%, 68.00% 14.86%, 70.00% 16.08%, 72.00% 17.55%, 74.00% 19.16%, 76.00% 20.84%, 78.00% 22.45%, 80.00% 23.92%, 82.00% 25.14%, 84.00% 26.03%, 86.00% 26.55%, 88.00% 26.65%, 90.00% 26.34%, 92.00% 25.63%, 94.00% 24.56%, 96.00% 23.21%, 98.00% 21.66%, 100.00% 20.00%);
    }

    30% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 23.33%, 2.00% 22.00%, 4.00% 20.96%, 6.00% 20.28%, 8.00% 20.01%, 10.00% 20.15%, 12.00% 20.70%, 14.00% 21.62%, 16.00% 22.86%, 18.00% 24.34%, 20.00% 25.97%, 22.00% 27.64%, 24.00% 29.25%, 26.00% 30.70%, 28.00% 31.89%, 30.00% 32.76%, 32.00% 33.24%, 34.00% 33.31%, 36.00% 32.96%, 38.00% 32.22%, 40.00% 31.13%, 42.00% 29.76%, 44.00% 28.19%, 46.00% 26.53%, 48.00% 24.87%, 50.00% 23.33%, 52.00% 22.00%, 54.00% 20.96%, 56.00% 20.28%, 58.00% 20.01%, 60.00% 20.15%, 62.00% 20.70%, 64.00% 21.62%, 66.00% 22.86%, 68.00% 24.34%, 70.00% 25.97%, 72.00% 27.64%, 74.00% 29.25%, 76.00% 30.70%, 78.00% 31.89%, 80.00% 32.76%, 82.00% 33.24%, 84.00% 33.31%, 86.00% 32.96%, 88.00% 32.22%, 90.00% 31.13%, 92.00% 29.76%, 94.00% 28.19%, 96.00% 26.53%, 98.00% 24.87%, 100.00% 23.33%);
    }
    40% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 30.89%, 2.00% 30.25%, 4.00% 30.00%, 6.00% 30.18%, 8.00% 30.76%, 10.00% 31.71%, 12.00% 32.98%, 14.00% 34.47%, 16.00% 36.11%, 18.00% 37.78%, 20.00% 39.38%, 22.00% 40.81%, 24.00% 41.98%, 26.00% 42.81%, 28.00% 43.26%, 30.00% 43.30%, 32.00% 42.92%, 34.00% 42.14%, 36.00% 41.02%, 38.00% 39.63%, 40.00% 38.05%, 42.00% 36.39%, 44.00% 34.74%, 46.00% 33.21%, 48.00% 31.90%, 50.00% 30.89%, 52.00% 30.25%, 54.00% 30.00%, 56.00% 30.18%, 58.00% 30.76%, 60.00% 31.71%, 62.00% 32.98%, 64.00% 34.47%, 66.00% 36.11%, 68.00% 37.78%, 70.00% 39.38%, 72.00% 40.81%, 74.00% 41.98%, 76.00% 42.81%, 78.00% 43.26%, 80.00% 43.30%, 82.00% 42.92%, 84.00% 42.14%, 86.00% 41.02%, 88.00% 39.63%, 90.00% 38.05%, 92.00% 36.39%, 94.00% 34.74%, 96.00% 33.21%, 98.00% 31.90%, 100.00% 30.89%);
    }
    50% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 56.67%, 2.00% 56.46%, 4.00% 55.84%, 6.00% 54.86%, 8.00% 53.57%, 10.00% 52.06%, 12.00% 50.42%, 14.00% 48.75%, 16.00% 47.16%, 18.00% 45.75%, 20.00% 44.61%, 22.00% 43.80%, 24.00% 43.39%, 26.00% 43.39%, 28.00% 43.80%, 30.00% 44.61%, 32.00% 45.75%, 34.00% 47.16%, 36.00% 48.75%, 38.00% 50.42%, 40.00% 52.06%, 42.00% 53.57%, 44.00% 54.86%, 46.00% 55.84%, 48.00% 56.46%, 50.00% 56.67%, 52.00% 56.46%, 54.00% 55.84%, 56.00% 54.86%, 58.00% 53.57%, 60.00% 52.06%, 62.00% 50.42%, 64.00% 48.75%, 66.00% 47.16%, 68.00% 45.75%, 70.00% 44.61%, 72.00% 43.80%, 74.00% 43.39%, 76.00% 43.39%, 78.00% 43.80%, 80.00% 44.61%, 82.00% 45.75%, 84.00% 47.16%, 86.00% 48.75%, 88.00% 50.42%, 90.00% 52.06%, 92.00% 53.57%, 94.00% 54.86%, 96.00% 55.84%, 98.00% 56.46%, 100.00% 56.67%);
    }
    60% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 64.29%, 2.00% 62.88%, 4.00% 61.29%, 6.00% 59.63%, 8.00% 57.98%, 10.00% 56.47%, 12.00% 55.17%, 14.00% 54.18%, 16.00% 53.55%, 18.00% 53.33%, 20.00% 53.53%, 22.00% 54.14%, 24.00% 55.11%, 26.00% 56.39%, 28.00% 57.90%, 30.00% 59.53%, 32.00% 61.20%, 34.00% 62.80%, 36.00% 64.21%, 38.00% 65.37%, 40.00% 66.18%, 42.00% 66.61%, 44.00% 66.62%, 46.00% 66.22%, 48.00% 65.42%, 50.00% 64.29%, 52.00% 62.88%, 54.00% 61.29%, 56.00% 59.63%, 58.00% 57.98%, 60.00% 56.47%, 62.00% 55.17%, 64.00% 54.18%, 66.00% 53.55%, 68.00% 53.33%, 70.00% 53.53%, 72.00% 54.14%, 74.00% 55.11%, 76.00% 56.39%, 78.00% 57.90%, 80.00% 59.53%, 82.00% 61.20%, 84.00% 62.80%, 86.00% 64.21%, 88.00% 65.37%, 90.00% 66.18%, 92.00% 66.61%, 94.00% 66.62%, 96.00% 66.22%, 98.00% 65.42%, 100.00% 64.29%);
    }

    65% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 67.82%, 2.00% 66.16%, 4.00% 64.52%, 6.00% 63.02%, 8.00% 61.74%, 10.00% 60.78%, 12.00% 60.19%, 14.00% 60.00%, 16.00% 60.23%, 18.00% 60.87%, 20.00% 61.87%, 22.00% 63.17%, 24.00% 64.70%, 26.00% 66.34%, 28.00% 68.01%, 30.00% 69.59%, 32.00% 70.99%, 34.00% 72.11%, 36.00% 72.90%, 38.00% 73.29%, 40.00% 73.27%, 42.00% 72.83%, 44.00% 72.00%, 46.00% 70.84%, 48.00% 69.42%, 50.00% 67.82%, 52.00% 66.16%, 54.00% 64.52%, 56.00% 63.02%, 58.00% 61.74%, 60.00% 60.78%, 62.00% 60.19%, 64.00% 60.00%, 66.00% 60.23%, 68.00% 60.87%, 70.00% 61.87%, 72.00% 63.17%, 74.00% 64.70%, 76.00% 66.34%, 78.00% 68.01%, 80.00% 69.59%, 82.00% 70.99%, 84.00% 72.11%, 86.00% 72.90%, 88.00% 73.29%, 90.00% 73.27%, 92.00% 72.83%, 94.00% 72.00%, 96.00% 70.84%, 98.00% 69.42%, 100.00% 67.82%);
    }
    80% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 77.56%, 2.00% 76.91%, 4.00% 76.67%, 6.00% 76.84%, 8.00% 77.43%, 10.00% 78.38%, 12.00% 79.64%, 14.00% 81.14%, 16.00% 82.78%, 18.00% 84.45%, 20.00% 86.04%, 22.00% 87.47%, 24.00% 88.64%, 26.00% 89.48%, 28.00% 89.93%, 30.00% 89.96%, 32.00% 89.58%, 34.00% 88.81%, 36.00% 87.69%, 38.00% 86.30%, 40.00% 84.72%, 42.00% 83.05%, 44.00% 81.41%, 46.00% 79.88%, 48.00% 78.57%, 50.00% 77.56%, 52.00% 76.91%, 54.00% 76.67%, 56.00% 76.84%, 58.00% 77.43%, 60.00% 78.38%, 62.00% 79.64%, 64.00% 81.14%, 66.00% 82.78%, 68.00% 84.45%, 70.00% 86.04%, 72.00% 87.47%, 74.00% 88.64%, 76.00% 89.48%, 78.00% 89.93%, 80.00% 89.96%, 82.00% 89.58%, 84.00% 88.81%, 86.00% 87.69%, 88.00% 86.30%, 90.00% 84.72%, 92.00% 83.05%, 94.00% 81.41%, 96.00% 79.88%, 98.00% 78.57%, 100.00% 77.56%);
    }

    100% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 113.33%, 2.00% 113.12%, 4.00% 112.51%, 6.00% 111.53%, 8.00% 110.24%, 10.00% 108.73%, 12.00% 107.09%, 14.00% 105.42%, 16.00% 103.83%, 18.00% 102.42%, 20.00% 101.27%, 22.00% 100.47%, 24.00% 100.05%, 26.00% 100.05%, 28.00% 100.47%, 30.00% 101.27%, 32.00% 102.42%, 34.00% 103.83%, 36.00% 105.42%, 38.00% 107.09%, 40.00% 108.73%, 42.00% 110.24%, 44.00% 111.53%, 46.00% 112.51%, 48.00% 113.12%, 50.00% 113.33%, 52.00% 113.12%, 54.00% 112.51%, 56.00% 111.53%, 58.00% 110.24%, 60.00% 108.73%, 62.00% 107.09%, 64.00% 105.42%, 66.00% 103.83%, 68.00% 102.42%, 70.00% 101.27%, 72.00% 100.47%, 74.00% 100.05%, 76.00% 100.05%, 78.00% 100.47%, 80.00% 101.27%, 82.00% 102.42%, 84.00% 103.83%, 86.00% 105.42%, 88.00% 107.09%, 90.00% 108.73%, 92.00% 110.24%, 94.00% 111.53%, 96.00% 112.51%, 98.00% 113.12%, 100.00% 113.33%);
    }
}



@keyframes waveReverse {
    100% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 6.67%, 2.00% 6.46%, 4.00% 5.84%, 6.00% 4.86%, 8.00% 3.57%, 10.00% 2.06%, 12.00% 0.42%, 14.00% -1.25%, 16.00% -2.84%, 18.00% -4.25%, 20.00% -5.39%, 22.00% -6.20%, 24.00% -6.61%, 26.00% -6.61%, 28.00% -6.20%, 30.00% -5.39%, 32.00% -4.25%, 34.00% -2.84%, 36.00% -1.25%, 38.00% 0.42%, 40.00% 2.06%, 42.00% 3.57%, 44.00% 4.86%, 46.00% 5.84%, 48.00% 6.46%, 50.00% 6.67%, 52.00% 6.46%, 54.00% 5.84%, 56.00% 4.86%, 58.00% 3.57%, 60.00% 2.06%, 62.00% 0.42%, 64.00% -1.25%, 66.00% -2.84%, 68.00% -4.25%, 70.00% -5.39%, 72.00% -6.20%, 74.00% -6.61%, 76.00% -6.61%, 78.00% -6.20%, 80.00% -5.39%, 82.00% -4.25%, 84.00% -2.84%, 86.00% -1.25%, 88.00% 0.42%, 90.00% 2.06%, 92.00% 3.57%, 94.00% 4.86%, 96.00% 5.84%, 98.00% 6.46%, 100.00% 6.67%);
    }

    90% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 17.62%, 2.00% 16.21%, 4.00% 14.63%, 6.00% 12.96%, 8.00% 11.32%, 10.00% 9.80%, 12.00% 8.51%, 14.00% 7.51%, 16.00% 6.89%, 18.00% 6.67%, 20.00% 6.86%, 22.00% 7.47%, 24.00% 8.44%, 26.00% 9.72%, 28.00% 11.23%, 30.00% 12.87%, 32.00% 14.54%, 34.00% 16.13%, 36.00% 17.55%, 38.00% 18.70%, 40.00% 19.51%, 42.00% 19.94%, 44.00% 19.95%, 46.00% 19.55%, 48.00% 18.75%, 50.00% 17.62%, 52.00% 16.21%, 54.00% 14.63%, 56.00% 12.96%, 58.00% 11.32%, 60.00% 9.80%, 62.00% 8.51%, 64.00% 7.51%, 66.00% 6.89%, 68.00% 6.67%, 70.00% 6.86%, 72.00% 7.47%, 74.00% 8.44%, 76.00% 9.72%, 78.00% 11.23%, 80.00% 12.87%, 82.00% 14.54%, 84.00% 16.13%, 86.00% 17.55%, 88.00% 18.70%, 90.00% 19.51%, 92.00% 19.94%, 94.00% 19.95%, 96.00% 19.55%, 98.00% 18.75%, 100.00% 17.62%);
    }

80% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 20.00%, 2.00% 18.34%, 4.00% 16.79%, 6.00% 15.44%, 8.00% 14.37%, 10.00% 13.66%, 12.00% 13.35%, 14.00% 13.45%, 16.00% 13.97%, 18.00% 14.86%, 20.00% 16.08%, 22.00% 17.55%, 24.00% 19.16%, 26.00% 20.84%, 28.00% 22.45%, 30.00% 23.92%, 32.00% 25.14%, 34.00% 26.03%, 36.00% 26.55%, 38.00% 26.65%, 40.00% 26.34%, 42.00% 25.63%, 44.00% 24.56%, 46.00% 23.21%, 48.00% 21.66%, 50.00% 20.00%, 52.00% 18.34%, 54.00% 16.79%, 56.00% 15.44%, 58.00% 14.37%, 60.00% 13.66%, 62.00% 13.35%, 64.00% 13.45%, 66.00% 13.97%, 68.00% 14.86%, 70.00% 16.08%, 72.00% 17.55%, 74.00% 19.16%, 76.00% 20.84%, 78.00% 22.45%, 80.00% 23.92%, 82.00% 25.14%, 84.00% 26.03%, 86.00% 26.55%, 88.00% 26.65%, 90.00% 26.34%, 92.00% 25.63%, 94.00% 24.56%, 96.00% 23.21%, 98.00% 21.66%, 100.00% 20.00%);
    }
    70% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 23.33%, 2.00% 22.00%, 4.00% 20.96%, 6.00% 20.28%, 8.00% 20.01%, 10.00% 20.15%, 12.00% 20.70%, 14.00% 21.62%, 16.00% 22.86%, 18.00% 24.34%, 20.00% 25.97%, 22.00% 27.64%, 24.00% 29.25%, 26.00% 30.70%, 28.00% 31.89%, 30.00% 32.76%, 32.00% 33.24%, 34.00% 33.31%, 36.00% 32.96%, 38.00% 32.22%, 40.00% 31.13%, 42.00% 29.76%, 44.00% 28.19%, 46.00% 26.53%, 48.00% 24.87%, 50.00% 23.33%, 52.00% 22.00%, 54.00% 20.96%, 56.00% 20.28%, 58.00% 20.01%, 60.00% 20.15%, 62.00% 20.70%, 64.00% 21.62%, 66.00% 22.86%, 68.00% 24.34%, 70.00% 25.97%, 72.00% 27.64%, 74.00% 29.25%, 76.00% 30.70%, 78.00% 31.89%, 80.00% 32.76%, 82.00% 33.24%, 84.00% 33.31%, 86.00% 32.96%, 88.00% 32.22%, 90.00% 31.13%, 92.00% 29.76%, 94.00% 28.19%, 96.00% 26.53%, 98.00% 24.87%, 100.00% 23.33%);
    }
    60% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 30.89%, 2.00% 30.25%, 4.00% 30.00%, 6.00% 30.18%, 8.00% 30.76%, 10.00% 31.71%, 12.00% 32.98%, 14.00% 34.47%, 16.00% 36.11%, 18.00% 37.78%, 20.00% 39.38%, 22.00% 40.81%, 24.00% 41.98%, 26.00% 42.81%, 28.00% 43.26%, 30.00% 43.30%, 32.00% 42.92%, 34.00% 42.14%, 36.00% 41.02%, 38.00% 39.63%, 40.00% 38.05%, 42.00% 36.39%, 44.00% 34.74%, 46.00% 33.21%, 48.00% 31.90%, 50.00% 30.89%, 52.00% 30.25%, 54.00% 30.00%, 56.00% 30.18%, 58.00% 30.76%, 60.00% 31.71%, 62.00% 32.98%, 64.00% 34.47%, 66.00% 36.11%, 68.00% 37.78%, 70.00% 39.38%, 72.00% 40.81%, 74.00% 41.98%, 76.00% 42.81%, 78.00% 43.26%, 80.00% 43.30%, 82.00% 42.92%, 84.00% 42.14%, 86.00% 41.02%, 88.00% 39.63%, 90.00% 38.05%, 92.00% 36.39%, 94.00% 34.74%, 96.00% 33.21%, 98.00% 31.90%, 100.00% 30.89%);
    }

    45% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 59.60%, 2.00% 58.83%, 4.00% 57.72%, 6.00% 56.34%, 8.00% 54.76%, 10.00% 53.10%, 12.00% 51.45%, 14.00% 49.92%, 16.00% 48.60%, 18.00% 47.58%, 20.00% 46.92%, 22.00% 46.67%, 24.00% 46.83%, 26.00% 47.40%, 28.00% 48.35%, 30.00% 49.61%, 32.00% 51.10%, 34.00% 52.73%, 36.00% 54.40%, 38.00% 56.00%, 40.00% 57.44%, 42.00% 58.62%, 44.00% 59.46%, 46.00% 59.92%, 48.00% 59.97%, 50.00% 59.60%, 52.00% 58.83%, 54.00% 57.72%, 56.00% 56.34%, 58.00% 54.76%, 60.00% 53.10%, 62.00% 51.45%, 64.00% 49.92%, 66.00% 48.60%, 68.00% 47.58%, 70.00% 46.92%, 72.00% 46.67%, 74.00% 46.83%, 76.00% 47.40%, 78.00% 48.35%, 80.00% 49.61%, 82.00% 51.10%, 84.00% 52.73%, 86.00% 54.40%, 88.00% 56.00%, 90.00% 57.44%, 92.00% 58.62%, 94.00% 59.46%, 96.00% 59.92%, 98.00% 59.97%, 100.00% 59.60%);
    }
    35% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 67.82%, 2.00% 66.16%, 4.00% 64.52%, 6.00% 63.02%, 8.00% 61.74%, 10.00% 60.78%, 12.00% 60.19%, 14.00% 60.00%, 16.00% 60.23%, 18.00% 60.87%, 20.00% 61.87%, 22.00% 63.17%, 24.00% 64.70%, 26.00% 66.34%, 28.00% 68.01%, 30.00% 69.59%, 32.00% 70.99%, 34.00% 72.11%, 36.00% 72.90%, 38.00% 73.29%, 40.00% 73.27%, 42.00% 72.83%, 44.00% 72.00%, 46.00% 70.84%, 48.00% 69.42%, 50.00% 67.82%, 52.00% 66.16%, 54.00% 64.52%, 56.00% 63.02%, 58.00% 61.74%, 60.00% 60.78%, 62.00% 60.19%, 64.00% 60.00%, 66.00% 60.23%, 68.00% 60.87%, 70.00% 61.87%, 72.00% 63.17%, 74.00% 64.70%, 76.00% 66.34%, 78.00% 68.01%, 80.00% 69.59%, 82.00% 70.99%, 84.00% 72.11%, 86.00% 72.90%, 88.00% 73.29%, 90.00% 73.27%, 92.00% 72.83%, 94.00% 72.00%, 96.00% 70.84%, 98.00% 69.42%, 100.00% 67.82%);
    }

    30% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 68.84%, 2.00% 67.25%, 4.00% 65.82%, 6.00% 64.66%, 8.00% 63.84%, 10.00% 63.40%, 12.00% 63.37%, 14.00% 63.77%, 16.00% 64.55%, 18.00% 65.68%, 20.00% 67.08%, 22.00% 68.66%, 24.00% 70.33%, 26.00% 71.97%, 28.00% 73.49%, 30.00% 74.80%, 32.00% 75.80%, 34.00% 76.43%, 36.00% 76.67%, 38.00% 76.48%, 40.00% 75.89%, 42.00% 74.92%, 44.00% 73.65%, 46.00% 72.15%, 48.00% 70.51%, 50.00% 68.84%, 52.00% 67.25%, 54.00% 65.82%, 56.00% 64.66%, 58.00% 63.84%, 60.00% 63.40%, 62.00% 63.37%, 64.00% 63.77%, 66.00% 64.55%, 68.00% 65.68%, 70.00% 67.08%, 72.00% 68.66%, 74.00% 70.33%, 76.00% 71.97%, 78.00% 73.49%, 80.00% 74.80%, 82.00% 75.80%, 84.00% 76.43%, 86.00% 76.67%, 88.00% 76.48%, 90.00% 75.89%, 92.00% 74.92%, 94.00% 73.65%, 96.00% 72.15%, 98.00% 70.51%, 100.00% 68.84%);
    }
    20% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 77.56%, 2.00% 76.91%, 4.00% 76.67%, 6.00% 76.84%, 8.00% 77.43%, 10.00% 78.38%, 12.00% 79.64%, 14.00% 81.14%, 16.00% 82.78%, 18.00% 84.45%, 20.00% 86.04%, 22.00% 87.47%, 24.00% 88.64%, 26.00% 89.48%, 28.00% 89.93%, 30.00% 89.96%, 32.00% 89.58%, 34.00% 88.81%, 36.00% 87.69%, 38.00% 86.30%, 40.00% 84.72%, 42.00% 83.05%, 44.00% 81.41%, 46.00% 79.88%, 48.00% 78.57%, 50.00% 77.56%, 52.00% 76.91%, 54.00% 76.67%, 56.00% 76.84%, 58.00% 77.43%, 60.00% 78.38%, 62.00% 79.64%, 64.00% 81.14%, 66.00% 82.78%, 68.00% 84.45%, 70.00% 86.04%, 72.00% 87.47%, 74.00% 88.64%, 76.00% 89.48%, 78.00% 89.93%, 80.00% 89.96%, 82.00% 89.58%, 84.00% 88.81%, 86.00% 87.69%, 88.00% 86.30%, 90.00% 84.72%, 92.00% 83.05%, 94.00% 81.41%, 96.00% 79.88%, 98.00% 78.57%, 100.00% 77.56%);
    }

    15% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 80.10%, 2.00% 80.02%, 4.00% 80.36%, 6.00% 81.09%, 8.00% 82.17%, 10.00% 83.54%, 12.00% 85.10%, 14.00% 86.76%, 16.00% 88.41%, 18.00% 89.96%, 20.00% 91.30%, 22.00% 92.34%, 24.00% 93.04%, 26.00% 93.33%, 28.00% 93.20%, 30.00% 92.66%, 32.00% 91.74%, 34.00% 90.51%, 36.00% 89.03%, 38.00% 87.41%, 40.00% 85.74%, 42.00% 84.13%, 44.00% 82.67%, 46.00% 81.47%, 48.00% 80.60%, 50.00% 80.10%, 52.00% 80.02%, 54.00% 80.36%, 56.00% 81.09%, 58.00% 82.17%, 60.00% 83.54%, 62.00% 85.10%, 64.00% 86.76%, 66.00% 88.41%, 68.00% 89.96%, 70.00% 91.30%, 72.00% 92.34%, 74.00% 93.04%, 76.00% 93.33%, 78.00% 93.20%, 80.00% 92.66%, 82.00% 91.74%, 84.00% 90.51%, 86.00% 89.03%, 88.00% 87.41%, 90.00% 85.74%, 92.00% 84.13%, 94.00% 82.67%, 96.00% 81.47%, 98.00% 80.60%, 100.00% 80.10%);
    }
    5% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 91.56%, 2.00% 92.79%, 4.00% 94.26%, 6.00% 95.88%, 8.00% 97.55%, 10.00% 99.16%, 12.00% 100.62%, 14.00% 101.83%, 16.00% 102.72%, 18.00% 103.22%, 20.00% 103.32%, 22.00% 102.99%, 24.00% 102.27%, 26.00% 101.20%, 28.00% 99.84%, 30.00% 98.28%, 32.00% 96.62%, 34.00% 94.96%, 36.00% 93.41%, 38.00% 92.07%, 40.00% 91.01%, 42.00% 90.31%, 44.00% 90.01%, 46.00% 90.13%, 48.00% 90.65%, 50.00% 91.56%, 52.00% 92.79%, 54.00% 94.26%, 56.00% 95.88%, 58.00% 97.55%, 60.00% 99.16%, 62.00% 100.62%, 64.00% 101.83%, 66.00% 102.72%, 68.00% 103.22%, 70.00% 103.32%, 72.00% 102.99%, 74.00% 102.27%, 76.00% 101.20%, 78.00% 99.84%, 80.00% 98.28%, 82.00% 96.62%, 84.00% 94.96%, 86.00% 93.41%, 88.00% 92.07%, 90.00% 91.01%, 92.00% 90.31%, 94.00% 90.01%, 96.00% 90.13%, 98.00% 90.65%, 100.00% 91.56%);
    }

    0% {
        clip-path: polygon(100% 0%, 0% 0%, 0.00% 113.33%, 2.00% 113.12%, 4.00% 112.51%, 6.00% 111.53%, 8.00% 110.24%, 10.00% 108.73%, 12.00% 107.09%, 14.00% 105.42%, 16.00% 103.83%, 18.00% 102.42%, 20.00% 101.27%, 22.00% 100.47%, 24.00% 100.05%, 26.00% 100.05%, 28.00% 100.47%, 30.00% 101.27%, 32.00% 102.42%, 34.00% 103.83%, 36.00% 105.42%, 38.00% 107.09%, 40.00% 108.73%, 42.00% 110.24%, 44.00% 111.53%, 46.00% 112.51%, 48.00% 113.12%, 50.00% 113.33%, 52.00% 113.12%, 54.00% 112.51%, 56.00% 111.53%, 58.00% 110.24%, 60.00% 108.73%, 62.00% 107.09%, 64.00% 105.42%, 66.00% 103.83%, 68.00% 102.42%, 70.00% 101.27%, 72.00% 100.47%, 74.00% 100.05%, 76.00% 100.05%, 78.00% 100.47%, 80.00% 101.27%, 82.00% 102.42%, 84.00% 103.83%, 86.00% 105.42%, 88.00% 107.09%, 90.00% 108.73%, 92.00% 110.24%, 94.00% 111.53%, 96.00% 112.51%, 98.00% 113.12%, 100.00% 113.33%);
    }
}

@keyframes colorPulse {

    0%,
    100% {
        color: #007bff;
    }

    50% {
        color: red;
    }

    75% {
        color: yellow;
    }
}



@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media only screen and(max-width:700px) {
    

    #background {
        margin-top: 100px;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }

    .logo img {
        width: 30%;
    }

    .footerContainer {
        height: auto;
        justify-content: center;
        background-color: #000;
    }

    .footerContainer p {
        color: #fff;
    }

    .imgItems {
        margin: 0;
    }

    .sliderContainer h1 {
        font-size: 25px;
        padding: 30px;
    }

    .iconContainer {
        background-color: #0025ff;
    }

    .iconContainer i {
        font-size: 50px;
    }

    .list-item span {
        font-size: 16px;

    }
    .data .dataList {
        width: calc(100%/3);
    }
    .waveContainer{
        height: auto!important;
    }
    .dataWave{
        height: auto!important;
        width: calc(100%/3)!important;
    }

}