/*clip-path: polygon(0% 53%, 7% 54%, 12% 54%, 25% 56%, 30% 55%, 41% 55%, 49% 52%, 57% 47%, 65% 44%, 74% 41%, 80% 40%, 90% 38%, 99% 36%, 100% 0%, 0% 0%);*/
*{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
#background
{
    
}
video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#menu
{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: #0025ff;
   z-index: 10000;
   transition: all 1s ease-out;
}
.list
{
    position: relative;
    align-items: center;
    margin: auto;
    padding: 0;
    list-style: none;
    width: 95%;
    display: flex;
}
.list-item
{
    height: 100px;
    text-align: center;
    margin:0 3.5%;
}
.list-item img 
{
    margin-top: 26%;
    height: 60%;
    float: left;
    background-size: cover;
}
.list-item span
{
    margin-top: 26%;
    height: 60%;
    float: left;
    background-size: cover;
    font-weight: bolder;
    color: white;
}
.list-item a
{
    margin-top: 42%;
    height: 60%;
    float: left;
    background-size: cover;
    font-weight: bolder;
    color: white;
}
p:hover{
    color: black;
}
#pepsi125
{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header
{
    width: 100%;
    height: 50%;
    background-color: #000;
    text-align: center;
    padding: 3em 0 0 0;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h2
{
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 70px;
    line-height: 63px;
    animation: typing 10s  infinite;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
}
@keyframes typing
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%; 
    }
    
}
.header h3
{
    color: #fff;
    font-size: 42px;
    line-height: 50px;
    font-weight: bolder;
}
.header button
{
    font-size: 52px;
    line-height: 52px;
    padding: 0.55em;
    margin: 1em 0 1.3em 0;
    color: white;
    font-weight: bold;
    background-color: #0025ff;
}

.imgList{
    overflow: hidden;
}
.imgList img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
}
.imgList img:hover{
    transform: scale(1.3) rotate(10deg);
    transition: 0.4s;
    overflow: hidden;
    opacity: 0.8;
}
.imgList .imgItems{
overflow: hidden;
padding: 0;
}
.footerContainer{
    height:200px;
    background:#0025ff;
}

    @media only screen and (max-width: 700px) {
        .header h2
        {
           font-size: 30px;
        }
        .header h3
        {
            font-size: 25px;
        }
        .header button
      {
      font-size: 20px;
      }
      .imgList .imgItems{
           width: 50%;
        }
        #background{
            margin-top: 100px;
        }
        .logo{
            display: flex;
            justify-content: center; 
            margin: 30px 0px;
        }
        .logo img{
            width: 30%;
           
        }
        .footerContainer{
            height: auto;
            justify-content: center;
            background-color: #000;
        }
        .footerContainer p{
            color: #fff;
        }
        .imgItems{
            margin: 0;
        }
        .sliderContainer h1{
            font-size: 25px;
            padding: 30px;
        }
        .iconContainer{
            background-color: #0025ff;
        }
        .iconContainer i{
            font-size: 50px;
        }
        .list-item span
       {
            height: 40%;
            
       }
        .data .dataList {
         width: calc(100%/3);
       }
      }
